description = "Zgodovina"

[staticPage]
useContent = 1
default = 0

[localePicker]
forceUrl = 1

[staticMenuMultilingual staticMenu]
code = "main-menu"
==
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">

        <title>{{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="NONSTOP www.nonstop.si">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

        <!--Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ 'assets/css/style.css'|theme }}?v=4.0.1">
        <link rel="stylesheet" href="{{ 'assets/css/extra.css'|theme }}?v=4">
        {% styles %}
        <link rel="shortcut icon" href="{{ 'assets/images/icons/favicon-16x16.png'|theme }}">
    </head>
    <body>
        {% partial 'site/header' %}

        {repeater name="history" label="History" prompt="Add another year section" tab="History"}

            <h1>{variable name="year" label="Year" tab="History" type="text"}{/variable}</h1>
            <h2>{variable name="number" label="Race number" tab="History" type="text"}{/variable}</h2>
        
            {variable name="bulletin" label="Bulletin URL" tab="History" type="text"}{/variable}
            
            {variable name="length" label="Length" tab="History" type="text"}{/variable}
            {variable name="cyclists_start" label="Cyclists on start" tab="History" type="text"}{/variable}        
            {variable name="cyclists_finish" label="Cyclists at finish" tab="History" type="text"}{/variable}
            {variable name="average_speed" label="Average speed" tab="History" type="text"}{/variable}

            {variable name="standings" label="Overall standings" tab="History" type="richeditor"}{/variable}
        
            {variable name="stage_winners" label="Stage winners" tab="History" type="richeditor"}{/variable}

            {variable name="shirts" label="Shirts" tab="History" type="richeditor"}{/variable}
            
        {/repeater}

        <main class="page page-{{ this.page.id }}">
            {% page %}
        </main>

        {% partial 'site/footer' %}

        <!-- Javascript -->
        <script src="{{ 'assets/js/app.js'|theme }}"></script>
        <script src="{{ 'assets/js/slick.min.js'|theme }}"></script>
        <script src="{{ 'assets/js/infinite-scroll.js'|theme }}"></script>
        <script src="{{ 'assets/js/custom.js?v=2'|theme }}"></script>

        <script src="/modules/system/assets/js/framework.js"></script>
        <script src="/modules/system/assets/js/framework.extras.js"></script>

        {% scripts %}

        {% partial 'site/ga' %}
    </body>
</html>