description = "Navigation bar"

[viewBag]

[staticMenu]
code = "menu-en"
==
<section>
	<nav class="navbar navbar-expand-lg fixed-top" id="navbar-example2">
		<div class="container-fluid">
			<a href="#"><img src="{{ 'assets/images/brand/logo-tourofslovenia-virtual-ls.webp'|theme }}" data-src="{{ 'assets/images/brand/logo-tourofslovenia-virtual-ls.webp'|theme }}" class="logo" alt="Tour of Slovenia - Virtual"></a>
			<div class="justify-content-end">
				<ul class="nav ml-auto nav-pills">
					<li class="nav-item"><a class="nav-link" href="#stage1">1</a></li>
					<li class="nav-item"><a class="nav-link" href="#stage2">2</a></li>
					<li class="nav-item"><a class="nav-link" href="#stage3">3</a></li>
					<li class="nav-item"><a class="nav-link" href="#stage4">4</a></li>
					<li class="nav-item"><a class="nav-link" href="#stage5">5</a></li>
					<li class="nav-item"><a class="nav-link" href="#info">i</a></li>
				</ul>
			</div>
		</div>
    </nav>
</section>