    <script src="{{ [
      'assets/vendor/jquery/dist/jquery.min.js',
      'assets/vendor/tether/dist/js/tether.min.js',
      'assets/vendor/bootstrap/js/bootstrap.min.js',
      'assets/vendor/wow/dist/wow.min.js',
      'assets/vendor/holderjs/holder.min.js',
      'assets/vendor/plyr/dist/plyr.js',
      'assets/vendor/lazyload/dist/lazyload.min.js',
      'assets/js/virtual-scripts.js'
    ]|theme }}"></script>
    {% scripts %}
    {#% framework extras %#}
    <script>
      $(document).ready(function () {

        //lazyload();

      });      
    </script>