[viewBag]
==
{% set article = __SELF__.article %}
{% set latest = __SELF__.latest %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">

            <article class="article">
                <h2>{{ article.title }}</h2>

                {#<div class="date">{{ article.created_at | date('m.d.Y') }}</div>#}
                {% if article.external_image is not empty %}
                    {% set image = '/media/images/000/000/' ~ article.external_image %}
                {% else %}
                    {% set image = article.image.path %}
                {% endif %}
                <div class="embed-responsive embed-responsive-16by9 bg-img" style="background-size: cover;background-image: url({{ image }});"></div>
                <div class="lead">{{ article.summary | raw }}</div>

                {{ article.description | raw }}

                <div class="video">
                    {{ article.video }}
                </div>

                {% if article.gallery is not empty %}
                    <div class="gallery">
                        {% for item in article.gallery %}
                            <div class="gallery-img"><a href="{{ item.getThumb(1200, 800) }}" style="background-image:url({{ item.path }});" rel="gallery" data-toggle="lightbox" data-gallery="example-gallery" data-type="image"></a></div>
                        {% endfor %}
                    </div>
                {% endif %}

            </article>

        </div>
        <div class="col-md-5">
            <div class="more-news">
                {#<h3>{{ 'Ostale novice'|_ }}</h3>#}

                {% for last in latest %}
                    <div class="small-news">
                        {#<div class="date">{{ last.created_at | date('d.m.Y') }}</div>#}
                        <p><a href="/{{ activeLocale }}/{{ 'novica' | _ | lower }}/{{ last.id }}/{{ last.slug }}">{{ last.title }}</a></p>
                    </div>
                {% endfor %}

                {#
                <ul class="pagination">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
                #}
            </div>
        </div>
    </div>
</div>