[viewBag]
==
{% set articles = __SELF__.articles %}
{% import "macros/ellipsis.htm" as ellipsis %}

<div class="col-sm-3-5 news">
    <h2>{{ 'po.sloveniji.s.kolesom'|_ }}</h2>
    <div class="article-feed">
        {% for article in articles %}
            <article class="article">
                <div class="row">
                    <div class="col-sm-4">
                        {% if article.external_image is not empty %}
                            {% set image = '/media/images/000/000/' ~ article.external_image %}
                        {% else %}
                            {% set image = article.image.path %}
                        {% endif %}
                        <div class="embed-responsive embed-responsive-16by9 bg-img"
                             style="background-size: cover;background-image: url({{ image }});"></div>
                    </div>
                    <div class="col-sm-8">
                        {#<div class="date">{{ article.created_at|date('d.m.Y') }}</div>#}
                        <h3><a href="/{{ activeLocale }}/po-sloveniji-s-kolesom/{{ article.id }}/{{ article.slug }}">{{ article.title }}</a></h3>
                        <div class="lead"><p>{{ ellipsis.ellipsis(article.summary) }}</p></div>
                    </div>
                </div>
            </article>
        {% endfor %}

        <div class="col">
            {% if articles.lastPage != articles.currentPage + 1 %}
                <a href="/{{ activeLocale }}/{{ 'po-sloveniji-s-kolesom' | _ | lower }}?page={{ articles.currentPage + 1 }}" class="pagination_next"></a>
            {% endif %}
        </div>
    </div>
</div>
{% partial 'site/zmagovalci' %}

{% put scripts %}
    <script>
        $(document).ready(function() {
            $('.article-feed').infiniteScroll({
                path: '.pagination_next',
                append: '.article',
                status: '.scroller-status',
            });
        });
    </script>
{% endput %}

{% put styles %}
    <style>
        .pagination li {
            padding-right: 15px;
        }
    </style>
{% endput %}