[viewBag]
==
<!-- majice -->
<h2>{{ 'Majice'|_  }}</h2>
<div class="row">
    <div class="col-sm-6">
        <p class="text-center"><img
                    src="/storage/app/media/2021/majica-zelena.webp"
                    class="img-fluid"></p>
        <p>{{ 'Zelena majica – Vodilni v skupni razvrstitvi tekmovalcev po času'|_  }}</p>
    </div>
    <div class="col-sm-6">
        <p class="text-center"><img
                    src="/storage/app/media/2021/majica-rdeca.webp"
                    class="img-fluid"></p>
        <p>{{ 'Rdeča majica - Vodilni v skupni razvrstitvi po točkah'|_  }}</p>
    </div>
    <div class="col-sm-6">
        <p class="text-center"><img
                    src="/storage/app/media/2021/majica-modra-3.webp"
                    class="img-fluid"></p>
        <p>{{ 'Modra majica – Vodilni v skupni razvrstitvi na gorskih ciljih'|_  }}</p>
    </div>
    <div class="col-sm-6">
        <p class="text-center"><img
                    src="/storage/app/media/2021/majica-bela.webp"
                    class="img-fluid"></p>
        <p>{{ 'Bela majica – Vodilni v skupni razvrstitvi po času med mladimi kolesarji (U23)'|_  }}</p>
    </div>
</div>
<!-- /majice -->