[viewBag]
==
<div class="sponsors">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h3>Generalni sponzorji</h3>

                <div class="slogos">
                    <img src="{{ 'assets/images/sponsors/telekom.png'|theme }}" alt="">
                    <img src="{{ 'assets/images/sponsors/siol.png'|theme }}" alt="">
                    <img src="{{ 'assets/images/sponsors/fiat.png'|theme }}" alt="">
                    <img src="{{ '/storage/app/media/sponsors/adria-mobil-2021.webp'|theme }}" alt="">
                </div>

                <h3>Partnerji dirke</h3>

                <div class="slogos">
                    <img src="{{ 'assets/images/sponsors/ifeelslovenia.png'|theme }}" alt="">
                    <img src="{{ 'assets/images/sponsors/adria-2.png'|theme }}" alt="">
                    <img src="{{ 'assets/images/sponsors/act.png'|theme }}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>